@import url("~leaflet/dist/leaflet.css");

body,
#root,
.leaflet-container {
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaflet-popup-tip {
  display: none;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}
