@import url("~leaflet/dist/leaflet.css");
@import url("~leaflet-draw/dist/leaflet.draw.css");

body {
  margin: 0;
}

body,
#root,
.leaflet-container {
  height: 100vh;
  width: 100vw;
}

.leaflet-draw-tooltip-visible {
  visibility: hidden;
}

.leaflet-draw-tooltip-visible:before {
  left: -1px;
}

.leaflet-popup-pane {
  display: none;
}
